# API Framework
fastapi
uvicorn[standard]
python-socketio
websockets

# Database & ODM
beanie
motor
pydantic-settings

# Utilities
python-multipart
cloudinary
shapely
python-dotenv

# AI & Vision
google-genai
