# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment Variables
.env

# FastAPI / Uvicorn
.pytest_cache/
coverage.xml
htmlcov/

# OS
.DS_Store
Thumbs.db

# Project Specific
uploads/
swach.db
